
@tailwind base;
@tailwind components;
@tailwind utilities;
/* For WebKit browsers (Chrome, Safari) */  
::-webkit-scrollbar {  
    width: 1px; /* Set the width of the scrollbar */  
}  

::-webkit-scrollbar-track {  
    background: transparent; /* Background of the scrollbar track */ 
}  

::-webkit-scrollbar-thumb {  
/* Color of the scrollbar thumb */  
    border-radius: 0; /* Optional: make the thumb rounded */  
}  

/* For Firefox */  
.scrollbar-custom {  
    scrollbar-width: thin; /* Make scrollbar thin */  
    scrollbar-color: rgb(255, 0, 0) transparent; /* Thumb color, track color */  
}  

/* General styles for browsers */  
body {  
    /* Example styles */  
    margin: 0;  
    height: 100vh;  
    overflow-y: scroll; /* Ensure that the scrollbar is visible */  
}